*.xcbkptlist
DarkEagleV2.xcodeproj/xcuserdata/mattbeaney.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/
DarkEagleV2.xcworkspace/xcuserdata/mattbeaney.xcuserdatad/UserInterfaceState.xcuserstate
